.user {
  padding: 2rem 2rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
  transition: all 0.3s;
  min-height: 100%;

  &.close {
    width: 93%;

    @media (max-width: 924px) {
      width: 90%;
      padding: 0.75rem;
    }

    @media (max-width: 600px) {
      width: 85%;
      padding: 0.5rem;
    }

    @media (max-width: 400px) {
      width: 80%;
      padding: 0.5rem;
    }
  }

  @media (max-width: 924px) {
    width: 75%;
  }

  @media (max-width: 600px) {
    width: 67.5%;
  }

  @media (max-width: 400px) {
    width: 60%;
  }

  &__container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
