.sidebar {
  height: 100%;
  position: fixed;
  width: 20%;
  max-width: 360px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #283b49;
  color: #ccc;
  padding: 1rem;
  transition: all.3s;

  @media (max-width: 924px) {
    width: 25%;
  }

  @media (max-width: 600px) {
    width: 32.5%;
  }

  @media (max-width: 400px) {
    width: 40%;
  }

  &.close {
    width: 7%;
    max-width: 100px;
    min-width: 56px;

    @media (max-width: 924px) {
      width: 10%;
    }

    @media (max-width: 600px) {
      width: 15%;
    }

    @media (max-width: 400px) {
      width: 20%;
    }

    h1,
    span {
      display: none;
      transition: all 0.3s;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    padding: 1rem 1rem 0 0;

    @media (max-width: 400px) {
      padding: 0;
    }

    h1 {
      color: #fff;
      font-size: 1.5rem;
      transition: all 0.3s;

      @media (max-width: 924px) {
        font-size: 1.2rem;
      }

      @media (max-width: 400px) {
        font-size: 1rem;
      }
    }

    img {
      max-width: 60px;
      max-height: 60px;
      margin-right: 7px;

      @media (max-width: 1024px) {
        max-height: 50px;
        max-width: 50px;
      }

      @media (max-width: 400px) {
        max-height: 40px;
        max-width: 40px;
      }
    }
  }

  &__menu {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    a {
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      padding: 0.5rem;

      span {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      span small {
        display: inline-block;
        text-align: center;
        padding: 3px 7px;
        font-size: 1.1rem;
        font-weight: bold;
        background-color: #ccc;
        color: #283b49;
        border-radius: 5px;
        transition: all 0.3s;

        @media (max-width: 924px) {
          padding: 2px 5px;
          font-size: 0.9rem;
        }

        @media (max-width: 400px) {
          padding: 1px 3px;
          font-size: 0.8rem;
        }
      }

      &.active {
        color: #fff;
        background-color: #465e70;
        border-radius: 3px;
        border-left: 3px solid #98c83e;

        img {
          opacity: 1;
        }
      }

      @media (max-width: 924px) {
        font-size: 0.9rem;
      }

      @media (max-width: 400px) {
        font-size: 0.7rem;
      }

      &:hover img {
        opacity: 1;
      }

      img {
        margin-right: 15px;
        opacity: 0.7;

        @media (max-width: 400px) {
          margin-right: 7px;
        }
      }
    }
  }

  &__links {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: #ccc;
      transition: all 0.3s;

      &:hover {
        color: #fff;
      }
    }
  }

  &__btn {
    opacity: 0.7;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: all 0.3s;
    padding: 0.5rem 0;
    border-radius: 5px;

    img {
      max-width: 40px;
      max-height: 40px;
      transition: all 0.3s;

      @media (max-width: 1024px) {
        width: 35px;
        height: 35px;
      }

      @media (max-width: 400px) {
        width: 30px;
        height: 30px;
      }
    }

    &.close img {
      transform: rotate(180deg);
    }

    &:hover {
      opacity: 1;
      background-color: #465e70;
    }

    &:focus {
      outline: none;
    }
  }
}
