.go-back {
  z-index: 100;

  svg {
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }
  @media (max-width: 1024px) {
    background-color: #283b49d5;
    padding: 0.75rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    svg path {
      fill: #fff;
    }
  }
}
