.go-back {
  z-index: 100;
  svg {
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    @media (max-width: 400px) {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }
  }
}
