.error {
  padding: 2rem 2rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
  transition: all 0.3s;
  min-height: 100%;

  &.close {
    width: 93%;

    @media (max-width: 924px) {
      width: 90%;
      padding: 0.75rem;
    }

    @media (max-width: 600px) {
      width: 85%;
      padding: 0.5rem;
    }

    @media (max-width: 400px) {
      width: 80%;
      padding: 0.5rem;
    }
  }

  @media (max-width: 924px) {
    width: 75%;
  }

  @media (max-width: 600px) {
    width: 67.5%;
  }

  @media (max-width: 400px) {
    width: 60%;
  }

  &__container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > * {
      padding: 1rem;
    }

    .lost-btn {
      cursor: pointer;
      border: none;
      border-radius: 7px;
      color: #465e70;
      font-size: 1.2rem;
      padding: 0.5rem 1.5rem;
      background-color: #98c83e;
      transition: all 0.3s;
      outline: none;

      &:hover {
        background-color: #86ac40;
        color: #fff;
        transform: scale(1.05);
        box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
      }

      &:active {
        transform: scale(1);
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
